.tit {
    max-width: 1200px;
    padding: 0 15px;
}

#header .service i {
    position: relative;
    font-size: 20px;
}

#header .service i small {
    position: absolute;
    top: -5px;
    right: -5px;
    background: tomato;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

#hover01 .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}

#hover01 .img_box {
    position: relative;
    margin: 0 0 20px 0;
}

#hover01 .img_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to left, tomato, green);
    transition: 0.5s 1.5s;
}

#hover01 .img_box:hover::before {
    width: 100%;
    transition: 0.5s;
}

#hover01 .img_box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(to bottom, tomato, green);
    transition: 0.5s 1s;
}

#hover01 .img_box:hover::after {
    height: 100%;
    transition: 0.5s 0.5s;
}

#hover01 .img_box .lnk::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, tomato, green);
    transition: 0.5s 0.5s;
}

#hover01 .img_box:hover .lnk::before {
    width: 100%;
    transition: 0.5s 1s;
}

#hover01 .img_box .lnk::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(to top, tomato, green);
    transition: 0.5s;
}

#hover01 .img_box:hover .lnk::after {
    height: 100%;
    transition: 0.5s 1.5s;
}

#hover01 .img_box .lnk {
    position: absolute;
    inset: 0 0 0 0;
    display: grid;
    place-content: center;
}



#hover01 .itm strong {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 700;
}