.tit {
    max-width: 1200px;
    padding: 0 15px;
}

#header .service i {
    position: relative;
    font-size: 20px;
}

#header .service i small {
    position: absolute;
    top: -5px;
    right: -5px;
    background: tomato;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

#hover01 .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}


#hover01 .itm .img_box {
    position: relative;
    margin: 0 0 20px 0;
    overflow: hidden;
}

#hover01 .itm .img_box .lnk {
    position: absolute;
    bottom: -100px;
    right: 20px;
    transition: 0.5s;
}

#hover01 .itm .img_box .lnk a {
    display: block;
    margin: 0 0 5px 0;
}

#hover01 .itm .img_box .lnk .wish.on {
    color: tomato;
}

#hover01 .itm .img_box:hover .lnk {
    bottom: 100px;
}

#hover01 .itm .img_box .lnk i {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    border-radius: 50%;
}

#hover01 .itm strong {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 700;
}