.tit {
    max-width: 1200px;
    padding: 0 15px;
}

#header .service i {
    position: relative;
    font-size: 20px;
}

#header .service i small {
    position: absolute;
    top: -5px;
    right: -5px;
    background: tomato;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

#hover01 .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}

#hover01 .img_box {
    position: relative;
    margin: 0 0 20px 0;
}

#hover01 .img_box .lnk {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s;
}

#hover01 .img_box:hover .lnk {
    background: linear-gradient(to top, rgba(255, 99, 71, 0.5) 20%, transparent 80%);
    visibility: visible;
}


#hover01 .itm strong {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 700;
}