.tit {
    max-width: 1200px;
    padding: 0 15px;
}

#header .service i {
    position: relative;
    font-size: 20px;
}

#header .service i small {
    position: absolute;
    top: -5px;
    right: -5px;
    background: tomato;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

#hover01 .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}

#hover01 .img_box {
    position: relative;
    margin: 0 0 20px 0;
}

#hover01 .img_box .lnk {
    position: absolute;
    inset: 0 0 0 0;
}

#hover01 .img_box .lnk::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 1px solid tomato;
    border-left: 1px solid tomato;

    visibility: hidden;

    transition: 0.5s;
}

#hover01 .img_box:hover .lnk::before {
    visibility: visible;
    width: 100%;
    height: 100%;
}

#hover01 .img_box .lnk::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid tomato;
    border-right: 1px solid tomato;

    visibility: hidden;

    transition: 0.5s 0.2s;
}

#hover01 .img_box:hover .lnk::after {
    visibility: visible;
    width: 100%;
    height: 100%;
}

#hover01 .img_box .lnk a {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 999;
    display: grid;
    place-content: center;
}



#hover01 .itm strong {
    display: block;
    margin: 0 0 20px 0;
    font-weight: 700;
}