body {
    height: 200vh;
}

h1.tit {
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 50px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #f9f9f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    background: yellow;
}

.itm {
    background: tomato;
    color: #fff;
    text-align: center;
}


/* .case01 {
    overflow: hidden;
} */

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}




.case01>div {
    float: left;
}

.case02>div {
    float: right;
}

.case03 {
    text-align: center;
    font-size: 0;
}

.case03>div {
    display: inline-block;
    font-size: 16px;
}

.case04 .left {
    float: left;
}

.case04 .right {
    float: right;
}

.case04 .right>div {
    float: left;
}

.case04 .right .s {
    margin: 0 0 0 100px;
}

.stitle {
    text-align: left;
    width: 1200px;
    margin: 50px auto 20px auto;
}

.stitle i {
    float: right;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
}


.top_bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
}

.top_bar .inner {
    width: 1200px;
    margin: 0 auto;
}

.top_bar .inner .slogan {
    float: left;
}

.top_bar .inner .customer {
    float: right;
}

.top_bar .inner .customer li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

#header {
    background: #f9f9f9;
}

#header .inner {
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

#header h1 {
    float: left;
}

#header .service {
    float: right;
}

#header .service .gnb {
    float: left;
}

#header .service .gnb>ul>li {
    position: relative;
    float: left;
}

#header .service .gnb>ul>li a {
    display: block;
    padding: 0 20px;
}

#header .service .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: #ddd;
}

#header .service .right {
    float: left;
    margin: 0 0 0 30px;
}

#event {
    padding: 100px 0;
}

#event h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-align: center;
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
    text-align: center;
}

#event .inner {
    width: 1200px;
    margin: 0 auto;
}

#event .inner figure {
    float: left;
    width: 33.3333333333%;
    padding: 0 15px;
}

#event .inner figure img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}