h1.tit {
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 50px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #f9f9f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    background: yellow;
}

.itm {
    background: tomato;
    color: #fff;
    text-align: center;
}

.case01 {
    display: flex;
    gap: 30px;
}

.case02 {
    display: flex;
    justify-content: space-between;
}


.case03 {
    display: flex;
}

.case03 .right {
    margin: 0 0 0 auto;
}

.case03 .right2 {
    margin: 0 0 0 100px;
}

.case04 {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.top_bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.top_bar .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
}

.top_bar .customer {
    display: flex;
    margin: 0 0 0 auto;
}

.top_bar .customer li {
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

#header {
    display: flex;
    align-items: center;
    height: 100px;
    background: #f9f9f9;
}

#header .inner {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

#header h1 {
    text-align: left;
    margin: 0;
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .right {
    margin: 0 0 0 50px;
    color: tomato;
    font-size: 30px;
    font-weight: 700;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: #ddd;
}

#event {
    padding: 100px 0;
}

#event h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-align: center;
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
    text-align: center;
}

#event .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#event .inner figure {
    flex: 1;
}

#event .inner figure img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}