.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}

body {
    min-height: 150vh;
}

.wrap {}

#header {
    border-bottom: 1px solid #ddd;
}

#header .inner {
    display: flex;
    /* align-items: center; */
    height: 100px;
    line-height: 100px;
}

#header a {
    display: block;
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .service {
    margin: 0 0 0 50px;
}

#main_visual {
    position: relative;
    height: 600px;
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#main_visual .slogan h2 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
}

#main_visual .slogan p {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}


#detail01 .content {
    display: flex;
    gap: 1px;
}

#detail01 .content>* {
    position: relative;
    flex: 1;
    padding: 50px 30px;

    height: 500px;
    transition: 0.5s;

    overflow: hidden;
}

#detail01 .content>*::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

#detail01 .content>*.on::before {
    background: rgba(0, 0, 0, 0.5);
}

#detail01 .content>*.on {
    flex: 3;
}

#detail01 .content .txt {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
}

#detail01 .content .txt h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #fff;
}

#detail01 .content>* .txt p {
    width: 400px;
    opacity: 0;
}

#detail01 .content>*.on .txt p {
    opacity: 1;
}

#detail01 .content .txt a {
    margin: auto 0 0 0;
    background: #444;
    padding: 10px 25px;
    align-self: flex-start;
}

#detail01 .content .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

#detail01 .content .itm02 {
    background: url(../images/mainvisual03.jpg) no-repeat center center/cover;
}




#footer {
    padding: 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}







.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
}

.to_top i {
    background: tomato;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}