.mainVisual {
    height: calc(100vh - 200px);
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

.mainLink .link {
    display: flex;
    align-items: flex-end;
    height: 200px;

    margin: -100px auto 0 auto;
}

.mainLink .link li {
    flex: 1;
    background: #ddd;
    height: 180px;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLink .link li:nth-child(1) {
    background: #da544b;
}

.mainLink .link li:nth-child(2) {
    background: #f4cb4f;
}

.mainLink .link li:nth-child(3) {
    background: #337689;
}

.mainLink .link li:nth-child(4) {
    background: #6fa476;
}

.mainLink .link li:nth-child(1) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png) 0 0;
}

.mainLink .link li:nth-child(2) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png) -100px 0;
}

.mainLink .link li:nth-child(3) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png) -200px 0;
}

.mainLink .link li:nth-child(4) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png) -300px 0;
}

.mainLink .link li:not(.customer):hover {
    height: 200px;
}

.mainLink .link .customer {
    flex: 2;
}

.mainVisual .bh {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png);
    transition: 0.5s;
}