.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}

body {
    min-height: 150vh;
}

.wrap {
    /* overflow 있으면 sticky 작동안함. */
    /* overflow-x: hidden; */
}

#header {
    position: sticky;
    top: 0;
    /* z-index: 999; */
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    display: flex;
    /* align-items: center; */
    height: 100px;
    line-height: 100px;
}

#header a {
    display: block;
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .service {
    margin: 0 0 0 50px;
}

#main_visual {
    position: relative;
    height: 600px;
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#main_visual .slogan h2 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
}

#main_visual .slogan p {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}


#sticky .inner {
    display: flex;
    align-items: flex-start;
    gap: 150px;
}

#sticky .inner .left {
    position: sticky;
    top: 200px;
    border: 1px solid tomato;
}


#sticky2 .inner {
    display: flex;
    align-items: flex-start;
    gap: 150px;
}

#sticky2 .inner .left {
    position: sticky;
    top: 200px;
    border: 1px solid tomato;
}


.fh {
    position: sticky;
    top: 0;
    z-index: 999;
    color: #fff;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.fh .left {
    background-color: #444;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#sticky1 {
    background-image: url(../images/mainvisual01.jpg);
}

#sticky2 {
    background-image: url(../images/mainvisual02.jpg);
}

#sticky3 {
    background-image: url(../images/mainvisual01.jpg);
}

#sticky4 {
    background-image: url(../images/mainvisual02.jpg);
}





#footer {
    padding: 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
    height: 500px;
}







.to_top {
    position: sticky;
    bottom: 100px;
    margin: 0 0 0 auto;
    width: 100px;
    z-index: 1000;
}

.to_top i {
    background: tomato;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}