.inner,
.tit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    word-break: keep-all;
}


#main_content {
    padding: 100px 0;
}

#main_content h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 18px 0;
}

#main_content p {
    line-height: 20px;
}

#main_content .tit {
    margin: 0 auto 40px auto;
}

#main_content .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#main_content .content>* {
    flex: 1 0 350px;
}

.responsive_box {
    position: relative;
    background: tomato;
    padding-bottom: 56.25%;
}

.responsive_box>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive_map_box {
    position: relative;
    background: tomato;
    padding-bottom: 56.25%;
}

.responsive_map_box .root_daum_roughmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive_map_box .root_daum_roughmap .wrap_map {
    height: calc(100% - 1px);
}