h1.tit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    z-index: 999;

    color: #fff;
}

h2 {
    margin: 50px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #f9f9f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    background: yellow;
}

.itm {
    background: tomato;
    color: #fff;
    text-align: center;
}


.sec {
    padding: 100px 0;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_visual {
    height: 100vh;
    overflow: hidden;
}

.main_visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.case01 video {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.case01 .video {
    display: flex;
    align-items: center;
    gap: 30px;
}

.case01 .video>* {
    flex: 1;
}

.case01 .controll {
    font-size: 0;
}

.case01 i {
    padding: 10px;
    background: tomato;
    color: #fff;
    font-size: 25px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.main_visual {
    position: relative;
}

.ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: tomato;

    border: none;
    outline: none;

    outline: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;

    font-size: 30px;
    color: #fff;

}

.ctr::before {
    content: "\ea3b";
    font-family: xeicon;
}

.ctr.on::before {
    content: "\ea3e";
}